:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Improve paragraph text wrapping */
p {
  text-wrap: pretty;
}

/* Remove default button styles */
button {
  cursor: pointer;
  background: none;
  border: none;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.inbox {
  width: 860px;
  margin: 30px auto 0 auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inbox-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inbox-item {
  border-radius: 5px;
  background-color: rgba(179, 195, 196, 0.376);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 12px;
}

.item-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.meta-big {
  width: 720px;
}

.item-icon {
  margin-right: 35px;
}

.item-title {
  width: 175px;
  text-align: left;
  margin-right: 25px;
}

.meta-big .item-title {
  width: 300px;
}

.item-type {}

.item-date {}

.chat-notif {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.primary-btn {
  background-color: #d64545;
  color: white;
  padding: 7px;
  border-radius: 5px;
  width: 250px;
  margin: 0 auto;
}

.more {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
}

.more .groups-inner, .more .files-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.more .inbox-item {
  padding: 7px 15px;
}